.card {
    width: 200px;
    height: 200px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
    padding: 15px;
    border-radius: 50%;
    margin: 15px;
    background-image: url('../assets/pokeball.png');
    background-size: contain;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;

    &.caught {
        background-image: url('../assets/poke-ball-open.png');
    }

    .name {
        text-align: center;
        margin-top: 15px;
        margin-bottom: 5px;
    }

    img {
        height: 100px;
        max-width: 100%;
    }
}
